<div ng-controller="contentCtrl">
	<!-- <div dx-toast="{
    message: 'The toast message',
    type: 'success',
    displayTime: 3000
		}">
	</div> -->
  <!-- <div dx-data-grid="dataGridOptions" class="DataGrid"></div> -->
  <div class="list">
  	<ul class="gridList" ng-hide="displayProds">
  		<a ng-repeat="item in items">
  			<li>
  				<div class="img-wrap2">
  					<img data-ng-src="{{img}}">
  				</div>
  				<span>{{item.NAME}}</span>
  			</li>
  		</a>
		</ul>
		<div dx-list="dxListOptions" ng-show="displayProds">
  		<div data-options="dxTemplate:{ name:'item' }"></div>
  	</div>
  </div>
  <div style="width: 50%;background-color:gray; height: 469px;float: left;"></div>
  <div class="clear"></div>
  <div class="info">
  	<div class="about">
  		<div class="name">{{selectedItem.name}}</div>
  		<div class="class">{{selectedItem.classId}}</div>
  		<img data-ng-src="{{selectedItem.img}}"/>
  	</div>
  </div>
  
  
</div>