<!DOCTYPE html>
<html ng-app="UniDir">
    <head>
        <title>Directory</title>
        <meta charset="utf-8" />
        <script src="js/jquery-2.1.4.min.js"></script>
        <script src="js/globalize.min.js"></script>
        <script src="js/angular.js"></script>
        <script src="js/angular-sanitize.js"></script>
        <script src="js/angular-route.js"></script>
        <script src="js/dx.all.ru.js"></script>
        <script src="js/dx.webappjs.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/contentCtrl.js"></script>
        <script src="js/controllers/navCtrl.js"></script>
        <script src="js/controllers/helpCtrl.js"></script>
        <link rel="stylesheet" type="text/css" href="css/dx.common.css" />
        <link rel="stylesheet" type="text/css" href="css/dx.light.css" />
        <link rel="stylesheet" type="text/css" href="css/dx.css" />
        <link rel="stylesheet" type="text/css" href="css/styles.css" />
        <link rel="icon" type="image/x-icon" href="favicon.ico">

    </head>
    <body>
        <nav class="navigation">
            <div class="logo">
                <h1>Универсальный справочник</h1>
            </div>
            <div class="left-menu">
                <div class="menu-header">Каталог</div>
                <div class="nav" ng-include="'nav.html'">
                </div>
            </div>
        </nav>
        <main class="main">
            <header class="header">
            <div class="buttons">
                <div dx-button="{
                            text: 'Создать',
                            onClick: buttonClicked
                        }">
                </div>
                <div dx-button="{
                            text: 'Удалить',
                            onClick: buttonClicked
                        }">
                </div>
            </div>
            </header>
            <div class="content">
                <div ng-view class="grid"></div>
            </div>
            <footer class="footer"></footer>
        </main>
        
    </body>
</html>