body,
html{
    margin: 0; 
    padding: 0;
    font-family: 'Helvetica Neue', 'Segoe UI', Arial sans-serif;
    height: 100%;
    width: 100%;
    min-width: 1000px;
    background-color: #e7e7e7;
}

ul{
    list-style-type: none;
    margin: 0;
}

.navigation{
    position: relative;
    top: 0;
    bottom: 0;
    float: left;
    width: 300px;
    min-height: 600px;
}

.navigation .logo{
    text-align: center;
}

.navigation .left-menu{
    margin-top: 60px;
    margin-left: 30px;
}

.navigation .left-menu .menu-header{
    color: #7f8082;
    font-size: 18px;
    text-transform: uppercase;
}

.navigation .nav {
    margin-top: 20px;
}

.header{
    width: 100%;
    height: 50px;
}

.content{
    overflow: hidden;
    height: 812px;
    background-color: #fafafa;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    margin: 20px 0 20px 0;
}

.buttons{
    position: relative;
    display: inline-block;
    top: 20px;
}



/*----DX----*/
.dx-widget{
    font-size: 18px;
}

.dx-datagrid {
    background-color: #FAFAFA;
}

.list{
    height: 468px;
    width: 50%;
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    float: left;
}

.dx-pager {
    padding: 9px;
}


.list img {
    width: 140px;
    vertical-align: middle;
    margin: 0 auto;
}

.list .img-wrap {
    background-color: white;
    height: 150px;
    line-height: 146px;
    width: 150px;
    float: left;
    margin: 10px;
    border: #cccccc solid 2px;
}

.list .listName {
    display: inline-block;
    float: left;
    line-height: 40px;
    padding-top: 35px;
}

.listPrice {
    float: right;
    line-height: 150px;
    display: inline-block;
    margin-right: 3%;
}


.list .gridList {
    padding: 10px;
}

.list .gridList {
    list-style-type: none;
    text-align: center;
}

.list .gridList li {
    display: inline-block;
    min-width: 200px;
    margin: 10px;
}
.list .gridList li .img-wrap2 {
    width: 150px;
    margin: 0 auto;
    line-height: 146px;
    background-color: white;
    height: 150px;
    border: #cccccc solid 1px;
}
.list .gridList li img{
    vertical-align: middle;
    margin: 0 auto;
}
.list .gridList li span {
    
}
.list a {
    text-decoration: none;
    color: inherit;
}

.clear{
    clear:left;
}

/*-----???------*/
.form > div {
    display: inline-block;    
}

#product-details {
    vertical-align: top;
    width: 400px;
    height: 420px;
    margin-left: 20px;
}

#product-details > img {
  display: none;
    border: none;
    height: 300px;
    width: 400px;
}

#product-details > .name {
    text-align: center;
    font-size: 20px;
}

#product-details > .price {
    text-align: center;
    font-size: 24px;
}

.dark #product-details > div {
    color: #f0f0f0;
}